<%= render partial: 'layouts/header', locals: { h1: 'bot登録管理', breadcrumb: '<li class="active">BOT管理</li>' } %>

<div class="container">
  <h2>❏ 登録</h2>

  <%= link_to "Sign in with Twitter", "/auth/twitter" %>

  <div style="padding-bottom: 10px;">
    <%= form_for @bot, url: {action: 'create'} do |f| %>
    <%= render 'shared/error_messages' %>
    <p style="color: green;"><%= notice %></p>
    <p style="color: red;"><%= alert %></p>
    <p><%= f.label :twitter_name, "twitter_name" %><%= f.text_field :twitter_name %></p>
    <p><%= f.label :twitter_id, "twitter_id" %><%= f.text_field :twitter_id %></p>
    <%= button_tag('bot登録', class: "btn btn-info") %>
    <% end %>
  </div>

  <hr>

  <h2>❏ TweetTest</h2>

  <div style="padding-bottom: 10px;">
    <%= form_tag "/admin/twitter/tweet" do %>
    <p>Bot id<%= text_field :tweet, :bot_id %></p>
    <p>Tweet<%= text_field :tweet, :content %></p>
    <%= button_tag('Tweet', class: "btn btn-info") %>
    <% end %>
  </div>

  <hr>

  <h2>❏ FollowTest</h2>

  <div style="padding-bottom: 10px;">
  <%= form_tag "/admin/twitter/follow" do %>
  <p>Bot id<%= text_field :follow, :bot_id %></p>
  <%= button_tag('Follow', class: "btn btn-info") %>
  <% end %>
  </div>

  <h2>❏ RetweetTest</h2>

  <div style="padding-bottom: 10px;">
  <%= form_tag "/admin/twitter/retweet" do %>
  <p>Bot id<%= text_field :retweet, :bot_id %></p>
  <%= button_tag('Follow', class: "btn btn-info") %>
  <% end %>
  </div>

  <h2>❏ 一覧</h2>

  <div>
    <p style="color: green;"><%= notice %></p>
    <p style="color: green;"><%= flash[:delete] %></p>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>No.</th>
          <th>id</th>
          <th>twitter_name</th>
          <th>twitter_id</th>
          <th>hash_tags</th>
          <th>access_token</th>
          <th>access_secret</th>
          <th>削除</th>
        </tr>
        <% if bots? %>
          <% @bots.each_with_index do |b,cnt| %>
          <tr>
            <%= form_tag do %>
            <td><%= cnt+1 %></td>
            <td><%= b.id %></td>
            <td><%= b.twitter_name %></td>
            <td><%= b.twitter_id %></td>
            <td>
              <% b.hash_tags.each do |h| %>
                <%= h.hash_tag %>
              <% end %>
            </td>
            <td><%= b.access_token %></td>
            <td><%= b.access_secret %></td>
            <td><%= link_to('bot削除', "bot/#{b.id}", method: :delete) %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
