<h1>bot登録管理(仮)</h1>
<hr>
<h2>❏ 登録</h2>
<div style="padding-bottom: 10px;">
<%= form_for(@bot, url: '') do |f| %>
<%= render 'shared/error_messages' %>
<p style="color: green;"><%= notice %></p>
<p style="color: red;"><%= alert %></p>
<p>twitter_name<%= f.text_field :twitter_name %></p>
<p>twitter_id<%= f.text_field :twitter_id %></p>
<p>access_token<%= f.text_field :access_token %></p>
<p>hash_tags<%= f.number_field :hash_tags %></p>
<button type="submit">bot登録</button>
<% end %>
</div>
<hr>
<h2>❏ 一覧</h2>
<p style="color: green;"><%= flash[:delete] %></p>
<div>
<table border="1">
  <tr>
    <th>No.</th>
    <th>twitter_name</th>
    <th>twitter_id</th>
    <th>access_token</th>
    <th>hash_tags</th>
  </tr>
<% @bots.each_with_index do |b,cnt| %>
  <tr>
    <td><%= cnt+1 %></td>
    <td><%= b.twitter_name %></td>
    <td><%= b.twitter_id %></td>
    <td><%= b.access_token %></td>
    <td><%= b.hash_tags %></td>
    <td><%= link_to('削除', "bot/#{b.id}", :method => :delete) %></td>
  </tr>
<% end %>
</table>
</div>
